input {
  min-width: 200pt;
  width: 100%;
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;

  border-left: 2px solid transparent;
}

input:focus {
  border: none;
  outline: none;

  border-left: 2px solid transparent;
}

input.invalid,
input.invalid:focus {
  border-left: 2px solid red;
}

table.autocomplete {
  position: absolute;
  margin-top: 2px;

  background-color: white;
  padding: 5px;
  z-index: 0;
}

tr.autocompleteelement {
  padding-left: 2px;
  margin-bottom: 2px;
}

tr.autocompleteelement:hover {
  background-color: lightgray;
}
