* {
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: lightgreen;
}

td {
  padding: 0px;
}

td.text {
  padding-left: 10px;
}
